<div class="container-article">
    <h4 style="text-align: center;">Instructions for Authors</h4>
    <hr>
    <div>
        <p>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;International Council of Associations for Science Education</b>
        </p>
        
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The International Council of Associations for Science Education (ICASE)</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was created in 1972 by the United Nations Educational, Scientific
        and Cultural Organization (UNESCO) to extend and improve science
        education throughout the world. Today, ICASE is a
        vast network of science teacher associations, institutions,
        foundations and companies, working together to promote science and
        technology education around the world. ICASE facilitates
        communication and cooperation at national, regional, and
        international levels. The ICASE Strategic Plan (2013-2023) calls for
        ICASE to adopt a position of Excellence and Leadership in Science
        Education.<br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Throughout the world, people and societies in which they live are
        profoundly influenced by science and technology. The improvement of
        quality of life and the achievement of sustainable development
        places a high demand for scientific and technological literacy on
        all citizens. ICASE has worked with member organizations in over 75 countries to support science educators in their important role of
    </div>
    <hr>
</div>

<div style="text-align:center;">
    <a href="#/submission/2" class="btn btn-success" style="margin-top: 3rem;">
        Next step&nbsp;&nbsp;
        <i class="glyphicon glyphicon-arrow-right"></i>
    </a>
</div>
