<div class="container-article">
	<div style="width: 40%; margin-right: auto; margin-left: auto; margin-bottom: 2rem;">
        <img src="image/logo_icase.png" style="width: 100%;">
    </div>
    <div>
        <p>
            The International Council of Associations for Science Education (ICASE)
            was created in 1972 by the United Nations Educational, Scientific
            and Cultural Organization (UNESCO) to extend and improve science
            education throughout the world. Today, ICASE is a
            vast network of science teacher associations, institutions,
            foundations and companies, working together to promote science and
            technology education around the world. ICASE facilitates
            communication and cooperation at national, regional, and
            international levels. The ICASE Strategic Plan (2013-2023) calls for
            ICASE to adopt a position of Excellence and Leadership in Science
            Education.
        </p>
        <p>
            Throughout the world, people and societies in which they live are
            profoundly influenced by science and technology. The improvement of
            quality of life and the achievement of sustainable development
            places a high demand for scientific and technological literacy on
            all citizens. ICASE has worked with member organizations in over 75 countries to support science educators in their important role of
            developing such literacy.
        </p>
    </div>
    <img src="image/demo2016.png" style="width: 100%;">
</div>